<template>
  <div id="modal-button">
    <button type="button" class="button button--grey" @click="showModal=true">
      <slot />
    </button>
    <FeedBackModal v-if="showModal" @send="send()" @selected="selected" v-slot:header>
      <h1 class="heading-1">Feedback</h1>
    </FeedBackModal>
  </div>
</template>
<script>
import FeedBackModal from "~/components/FeedBackModal.vue";

export default {
  components: {
    FeedBackModal
  },
  data() {
    return {
      showModal: false,
      selected: ""
    };
  },
  methods: {
    send() {
      this.showModal = false;
    }
  }
};
</script>
<style scoped>

</style>
