<template>
  
    <div class="modal-wrapper">
      <div class="modal-container">
        <div class="modal-header">
          <span class="close" @click="closeButton">&times;</span>
          <slot name="header"></slot>
        </div>
        <div v-show="showOption" class="modal-body">
          <SelectOption></SelectOption>
        </div>

        <div v-show="showTextInput">
      
          <div class="mt-2">
            <h3 class="heading-3">Comment :</h3>
          </div>
         
          <textarea rows="13" cols="90" v-model="inputText"></textarea>
       
        </div>
        <div v-show="showReview">
       
          <div class="mt-2">
            <h3 class="heading-3 mb-3">Review Data :</h3>           
          </div>
    
          <p class="text-bold">Feedback Option : {{ selected }}</p>
          <p class="text-bold">Comment :</p>
          <p class="text-inputed">
             {{ inputText }}
          </p>
       
        </div>
  
        <div class="modal-footer">
          <button :class="[showBack ? activeClass : inActiveClass]" @click="backButton">Zurück</button>
          <button :class="[showNext ? activeClass : inActiveClass]" @click="nextButton">Weiter</button>
          <button :class="[showSend ? activeClass : inActiveClass]" @click="sendButton">Senden</button>
        </div>
  
      </div>
    </div>
 
</template>
    
<script>
import SelectOption from "~/components/SelectOption.vue";
import "@/assets/main.css";

export default {
  name: "FeedBackModal",
  components: {
    SelectOption
  },

  data() {
    return {
      data: {
        userID: "1234",
        option: "",
        comment: ""
      },
      selected: "",
      inputText: "",
      showOption: true,
      showTextInput: false,
      showReview: false,
      showBack: false,
      showNext: true,
      showSend: false,
      activeClass: "button button--grey",
      inActiveClass: "button button--disabled",
      step: 0
    };
  },

  methods: {
    backButton() {
      if (this.step > 0) {
        this.step = this.step - 1;
      }
      this.currentStep();
    },
    nextButton() {
      if (this.step < 2) {
        this.step = this.step + 1;
      }
      this.currentStep();
    },
    currentStep() {
      if (this.step == 0) {
        this.showBack = false;
        this.showNext = true;
        this.showSend = false;

        this.showOption = true;
        this.showTextInput = false;
        this.showReview = false;
      }
      if (this.step === 1) {
        this.showBack = true;
        this.showNext = true;
        this.showSend = false;

        this.showOption = false;
        this.showTextInput = true;
        this.showReview = false;
      }
      if (this.step === 2) {
        this.showBack = true;
        this.showNext = false;
        this.showSend = true;

        this.showOption = false;
        this.showTextInput = false;
        this.showReview = true;
      }
    },
    sendButton() {
      console.log("Send Button " + this.selected);
      this.data.option = this.selected;
      this.data.comment = this.inputText;

      setTimeout(() => {
        console.log("Send Data to Backend....");
        console.log(
          "http://edukat.de/?user=" +
            this.data.userID +
            "&option=" +
            this.data.option +
            "&comment=" +
            this.data.comment
        );
        alert("Danke für deine Feedback");
      }, 2000);

      //       this.$emit('send')
    },
    closeButton() {
      console.log("Close Button " + this.selected);
      this.$emit("send");
    },
    updateOption(value) {
      this.selected = value;
      console.log("Update Option : " + this.selected);
    }
  }
};
</script>
    
    
<style lang="css" scoped>

.modal-wrapper  {
  position: fixed;
  display: none;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.modal-container {
  width: 50rem;
  height: auto;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
  border: solid .6rem #ffa600;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-footer{
  margin: 1rem 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>