<template>
  <div id="radio-button" class="mb-2">

    <h3 class="heading-3 mt-2">Please select option :</h3>

    <ul>
      <li v-for="(option, index) in options" :key="index" class="text">
        <input type="radio" :value="option.id" v-model="optionsIndex" /> <label>{{ option.label }}</label>
      </li>
    </ul>

    <p class="mt-2">Select Option : {{ options[optionsIndex].val }} {{ optionsIndex}}</p>
  </div>
</template>

<script>
export default {
  model: {
    prop: "selected",
    event: "option"
  },

  data() {
    return {
      optionsIndex: 0,
      options: [
        {
          id: 0,
          label: "A. Etwas funktioniert technisch nicht einwandfrei",
          val: "A. bug"
        },
        {
          id: 1,
          label: "B. Eine Aufgabe enthält einen inhaltlichen Fehler",
          val: "B. error"
        },
        {
          id: 2,
          label: "C. Eine Aufgabe/Text enthält einen Tippfehler",
          val: "C. typo"
        },
        {
          id: 3,
          label: "D. Eine fehlerhafte Buchung oder falsche Lieferung",
          val: "D. claim"
        },
        {
          id: 4,
          label: "E. Ich habe eine inhaltliche Frage",
          val: "E. insight"
        }
      ]
    };
  },

  watch: {
    optionsxIndex() {
      this.selected = this.options[this.optionsIndex].val;
      this.$emit("option", this.selected);
      console.log("Option Select : " + this.selected);
    }
  }
};
</script>

<style scoped>
ul {
  list-style-type: none;
}
</style>>