*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.flexitem{
  align-self: center;
}


.button{
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 30px;
}

.button--grey {
  border: 1px solid #35495e;
  color: #35495e;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.button--disabled {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #acbdcf;
  text-decoration: none;
  padding: 10px 30px;
}

.mt-2{
  margin-top: 2rem;
}
.mt-3{
  margin-top: 3rem;
}

.mb-1{
  margin-bottom: 1rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.mb-3{
  margin-bottom: 3rem;
}
.mb-4{
  margin-bottom: 4rem;
}

.heading-1{
  font-size: 2rem;
  margin: 1.3rem 0;
}

.heading-2{
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.heading-3{
  font-size: 1.25rem;
  margin-bottom: 1rem;
}


.text{
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.text-bold{
  font-size: 1rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.text-inputed{
  font-size: 1rem;
  margin-bottom: 3rem;
}

textarea{
  padding: .5rem;
}