<template>
  <div class="flexbox">
    <FeedBackButton class="flexitem">GIVE FEEDBACK</FeedBackButton>
  </div>
</template>
<script>
import FeedBackButton from "~/components/FeedBackButton.vue";
export default {
  components: {
    FeedBackButton
  }
};
</script>
<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}



</style>
